@charset "utf-8";
/* CSS Document */
body {
  background: #000000 url("spacebackground2.jpg") no-repeat center;
}

h1 {
  color: #BCBCBC;
  text-align: center;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
}


p { text-align: center; color: #A7A5A5;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
		width: 500px;
  margin: auto;
  border: 1px solid #0D4E58;
}

h4 

button {
  background-color: #434242;
  color: #7B91C3;
  border: 2px solid #0B1C9F;
 
}

.submit-button { 
	padding-left: 300px;
	
	
}