/* Body styling */
body {
  font-family: Helvetica, Arial;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.65em;
  margin: 0 auto;
  max-width: 960px;
	max-height: 768px;
  padding: 40px 10px;  
}


/* Heading Styles */
h1 {
  font-size: 40px;
  color: #919192;
  text-align: center;
}
.header { 
	background-image: url(header.jpg);
	max-width: inherit 960px;
	max-width: inherit 300px;	
	color: #A29F9F;
}


/* Game Directions */
.description {
  text-align: center;
  margin: 72px auto 40px;
}


/* Submit Button, Columns, Questions, and Inputs */
.button-submit {
	background-image: url("button.jpg"); background-repeat: no-repeat; 
    border: 3px solid #2F2F2F;
    border-radius: 4px;
    color: #ACABAB;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 50px;
    padding: 1em 2em;
    text-align: center;
}

.bucket {
  display: block;
  width: 100%;
}

.choice-bucket {
  display: inline-block;
  float: right;
  margin: 10;
  padding: 10;
  width: 33.333333%;
}

.choice-bucket label {
  font-size: 15px;
  line-height: 13px;
  margin: 15px 4%;
}

.choice-bucket input {
  border: 0;
  border-radius: .25px;
  color: #713e94;
  font-size: 15px;
  margin: 15px 4%;
  outline: #12F301;
  padding: 12px 0;
  text-indent: 10px;
  width: 92%;  
}

.choice-bucket label ~ input {
  margin-top: 0;
}

.highlight {
  font-size: 15px;
  line-height: 16px;
  margin-left: 20px;
  opacity: .8;
}



/* Answer Div */
#answers {
  margin: 30px 0;
  background: #4F4F4F;
  border-radius: 2px;
  color: #331C43;
  transition: 1s linear;
}

#answers p {
  max-width: 760px;
  margin: auto;
  padding: 15px 0;
}

#answers p span {
  font-weight: bold;
}
.hide {
  opacity: 0;
  height: 0;
}



.show {
  opacity: 1;
  height: 100%;
}